__pycache__
.DS_Store
venv
dash-apps/web-vanilla/assets
dash-apps/web-vanilla/*.wasm
dash-apps/web-vanilla/*.d.ts
dash-apps/web-vanilla/car-visualization.js
dashpilot-android/app/src/main/assets/web-vanilla
dashpilot-android/app/src/main/assets/web-ambient
